/*Responsive */
@media only screen and (max-width: 640px) {
    #banner_area {
        width: 100%;
        padding: 0;
        margin: 0;
        clear: both;
        position: relative;
    }
    #banner_area .inner_main_text_banner h1 {
        font-size: 34px;
        color: #fff;
        line-height: 0em;
    }
    #banner_area .inner_main_text_banner h2 {
        font-size: 13px;
        color: #fff;
        line-height: 2em;
    }
    #main_menu .social_area {
        margin-right: 129px;
    }
    #header_area form input {
        border: 2px solid #ddd;
        background: #fff;
        padding: 12px;
        width: 215px;
        float: left;
        margin-top: 16px;
    }
    #banner_area .banner_bottom p {
        color: #fff;
        margin: 0;
        font-size: 8px;
    }
    /*body{width: 540px}*/
    #latest_project_area .child_project img {
        margin-bottom: 18px;
        width: 100%;
    }
}
/*@media only screen and (min-width: 600px) {*/
    /*!*body{width: 760px}*!*/
    /*#banner_area .inner_main_text_banner h1 {*/
        /*font-size: 59px;*/
        /*color: #fff;*/
        /*line-height: 1em;*/
    /*}*/
    /*#banner_area .inner_main_text_banner h2 {*/
        /*font-size: 27px;*/
        /*color: #fff;*/
        /*line-height: 1em;*/
        /*!* margin-top: -16px; *!*/
    /*}*/

    /*#latest_project_area .child_project {*/
        /*width: 100%;*/
        /*margin: 0 1% 10px;*/
        /*float: left;*/
        /*padding: 10px;*/
        /*text-align: center;*/
    /*}*/
/*}*/

